@charset "UTF-8";
.list{
    display: flex;
    justify-content: center;
}
.list-card{
    width: 200px;
    padding: 10px;
    margin: 30px;
    list-style: none;
    border-radius: 13px;
    outline: 10px solid #655;
    box-shadow: 0 0 0 6px #655;
    background-color: #d2b48c;
}